body {
  font-family: SansSerif, sans-serif;
}

.article-list {
  list-style-type: none;
  padding: 0;
}

.article-list .article {
  border: 1px solid #ddd;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #aaa;
}

.article-list .article-teaser {

}

.article-list .article-price {
  font-weight: bold;
  font-size: 1.25rem;
}

.rating-list {
  list-style-type: none;
  padding: 0;
}

.rating {
  padding: 1rem;
  background: #dddddd;
  border-radius: 10px;
  margin: .5rem;
}

.form-row {
  width: 50%;
  margin: 1rem 0;
}

.form-row label {
  display: block;
}

.form-row textarea, .form-row input {
  width: 100%;
  font-family: sans-serif;
}

.form-row input[type=submit]{
  background-color: green;
}
